In [22]:
numeros = list(range(1,21))

for numero in numeros:
    if numero % 2 == 0 and numero % 4 == 0:
        print(numero)

4
8
12
16
20

In [20]:
numeros = list(range(0,21))
for i in numeros:
    if i % 2 == 1 and i % 4 == 1:
        print(i)

1
5
9
13
17

### Inserindo um lista contando de 5 em 5 at√© 100

In [28]:
numeros = list(range(5,101,5))
for i in numeros:
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [7]:
numeros = list(range(10,101, 10))
for i in numeros:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [1]:
NomeDoAluno = "Algusto Nicodemos"
print(NomeDoAluno)

Algusto Nicodemos